html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  background-image: url('../images/background_DRG.webp');
  background-repeat: no-repeat;
  background-position: center;
}

.page {
  width: 100%;
  background-size: cover;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
}
