.slides {
    display: flex;
    gap: 10px;
    margin-top: 100px;
    justify-content: center;

}

.slide {
    width: 10%;
    height: 700px;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
}

.action {
    width: 60%;
    height: 700px;
}

